/**
 * Entry point for applcation-wide CSS.
 */

 @import "tailwind.css";
 @import "brand.scss";
 @import "colors";

 .remove-skeleton-gap {
   .b-skeleton {
     margin-top: 0rem;
   }
 }

//TODO: import additional global CSS here.
@import 'bulma';

.animation-content{
  z-index: 10 !important;
  overflow-y: auto;
}

.registration{
  background-color: #f5f6f7 !important;
}
.animation-content::-webkit-scrollbar {
  width: 8px !important;
}

.animation-content::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.animation-content::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

.modal-background {
  background-color: rgba(255, 255, 255, 0.86) !important;}


  .search {
    background-color: #f0f2f5 !important;
    border: none !important;
  }

  .search:focus,select:focus,.registration:focus {
    box-shadow:none !important;
  }

  .sidebarSection::-webkit-scrollbar {
    width: 6px !important;
    background-color: #f1f1f1 !important; /* Background color of the scrollbar track */
  }
  
  .sidebarSection::-webkit-scrollbar-thumb {
    background-color: #888 !important; /* Color of the scrollbar thumb */
    border-radius: 10px !important; /* Rounded corners for the scrollbar thumb */
  }
  